@use 'bootstrap';


header {
    padding-bottom: 6rem;
    background-image: url('../../assets/img/cielostellato.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    nav {
        ul {
            list-style-type: none;
        }

        a {
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 12px;
        }

        .order-online {
            background-color: red;
            font-weight: bold;
            padding: .75rem 1rem;
        }

        .ms-enhanced {
            margin-left: 3.5rem;
        }

        .me-enhanced {
            margin-right: 3.5rem;
        }

        .thumb-color {
            filter: invert(1);
        }
    }

    .jumbotron {
        position: relative;

        .jumbo-bg {
            height: 200px;
        }

        .jumbo-front {
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 250px;
        }
    }

}

.prev-btn {
    margin-left: -1.9rem;
    transform: rotate(90deg);

    button {
        color: red;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        background-color: white;
        border-radius: 50% 50% 0 0/100% 100% 0 0;
        padding: 0 2rem;
        padding-top: 1rem;
        padding-bottom: 0;
    }
}

.next-btn {
    margin-right: -1.9rem;
    transform: rotate(-90deg);

    button {
        color: red;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        background-color: white;
        border-radius: 50% 50% 0 0/100% 100% 0 0;
        padding: 0 2rem;
        padding-top: 1rem;
        padding-bottom: 0;
    }
}