@use './appVariables.scss' as *;

footer {
    margin-top: 5px;

    .footer1 {
        background-image: url('../img/cielostellato.PNG');
        background-position: center;
        padding: 3rem 4rem;
        color: $light-primary;

        .foot-titles {
            color: $green-primary;
            font-weight: bold;
            font-size: 12px;
        }

        .foot-titles2 {
            color: $green-primary;
            font-weight: bold;
            font-size: 10px;
        }

        .foot-elements {
            color: $grey-tertiary;
            font-size: 10px;
        }

        .made-with {
            font-size: 10px;
            color: $green-primary;

            span {
                color: $green-secondary;
            }
        }

        .socials {
            display: inline-block;

            svg {
                width: 10px;
                margin-left: 5px;
            }
        }
    }

    .footer2 {
        background-image: url('../img/footer-img-1.jpg');
        background-size: cover;
        background-position: center;
    }
}