@use './appVariables.scss' as *;


.testimonials {
    height: 300px;
    background-image: url('../../assets/img/h3-testimonials-bckgrnd.jpg');
    background-position: center;
    background-size: cover;

    .quote {
        fill: $green-primary;
    }

    .authorAndDate {
        font-weight: bold;
        font-size: 10px;
        color: $red-primary;
    }

    .dot-green {
        fill: $green-primary;
    }

    .dot-grey {
        fill: $grey-primary;
    }
}

.menu {
    padding: 5rem 6rem;

    .price {
        color: $red-primary;
    }

    .description {
        color: $grey-secondary;
    }

    .item-description {
        font-size: 10px;
        color: $grey-tertiary;
    }
}

.build-pizza {
    height: 300px;
    color: $light-primary;

    h2 {
        position: absolute;
        top: 20%;
        left: 25%;
    }

    div {
        background-image: url('../img/h3-background-img.jpg');
    }

    .divx1 {
        width: 7%;
        background-position-x: 100%;
        background-size: 1000%;
    }

    .divx2 {
        width: 86%;
        background-position-x: 50%;
        background-size: cover;
    }

    .divx3 {
        width: 7%;
        background-position-x: 0%;
        background-size: 1000%;
    }

    .divy1 {
        height: 25%;
        background-position-y: 100%;
    }

    .divy2 {
        height: 50%;
        background-position-y: 8%;
    }

    .divy3 {
        height: 25%;
        background-position-y: 65%;
    }
}

.clients {
    background-color: $light-secondary;
}