@use './appVariables.scss' as *;


.testimonials {
    height: 300px;
    background-image: url('../../assets/img/h3-testimonials-bckgrnd.jpg');
    background-position: center;
    background-size: cover;

    .quote {
        fill: $green-primary;
    }

    .authorAndDate {
        font-weight: bold;
        font-size: 10px;
        color: $red-primary;
    }

    .dot-green {
        fill: $green-primary;
    }

    .dot-grey {
        fill: $grey-primary;
    }
}

.women-sitted {
    background-image: url('../img/h1-img-4.jpg');
    background-size: cover;
}

.menu {
    padding: 5rem 6rem;

    .price {
        color: $red-secondary;
    }

    .description {
        color: $grey-secondary;
    }

    .item-description {
        font-size: 12px;
        color: $grey-tertiary;
    }
}

.build-pizza {
    height: 300px;
    color: $light-primary;

    h2 {
        position: absolute;
        top: 20%;
        left: 25%;
    }

    div {
        background-image: url('../img/h3-background-img.jpg');
    }

    .divx1 {
        width: 7%;
        background-position-x: 100%;
        background-size: 1000%;
    }

    .divx2 {
        width: 86%;
        background-position-x: 50%;
        background-size: cover;
    }

    .divx3 {
        width: 7%;
        background-position-x: 0%;
        background-size: 1000%;
    }

    .divy1 {
        height: 25%;
        background-position-y: 100%;
    }

    .divy2 {
        height: 50%;
        background-position-y: 8%;
    }

    .divy3 {
        height: 25%;
        background-position-y: 65%;
    }
}

.team-hover-cont {
    display: none;
    width: 100%;
    aspect-ratio: 1/1;
    background-color: $light-primary;

    .team-hover {
        width: 90%;
        aspect-ratio: 1/1;
        background-color: $red-primary;
        color: $light-primary;

        .socials {
            padding-top: 10px;

            svg {
                fill: $light-primary;
                margin: 0 5px;
            }
        }
    }
}

.team:hover img {
    display: none;

}

.team:hover .team-hover-cont {
    display: flex;
}

.clients {
    background-color: $light-secondary;
}

.pizza-flavour {

    .choose-flavour {
        font-weight: bold;
        font-size: 10px;
        color: $red-primary;
    }

    .description {
        color: $grey-secondary;
        padding-bottom: 3rem;
    }

    .pizzaList {

        .sold {
            width: 40px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            background-color: $red-primary;
            position: absolute;
            top: 5%;
            right: 10%;
            font-size: 8px;
            color: $light-primary;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .name {
            color: $green-primary;
            font-weight: bold;
            font-size: 12px;
        }

        .price {
            color: $red-primary;
            font-weight: bold;
            font-size: 12px;
        }

        .oldPrice {
            text-decoration: line-through;
            color: $grey-primary;
            font-size: 12px;
        }
    }

}

.events {
    background-image: url('../img/cielostellato.PNG');
    padding: 4rem 6rem;
    color: $light-primary;

    .love {
        color: $red-secondary;
        font-size: 10px;
        font-weight: bold;
    }

    .day {
        color: $red-secondary;
        font-size: 48px;
    }

    .location {
        color: $red-secondary;
        font-size: 12px;
    }

    .dots {
        border-bottom: 2px dotted $red-secondary;
    }

}

.comics {
    background-image: url('../img/img-comics.PNG');
    background-position: center;
    background-size: cover;
}

.book-table {
    background-image: url('../img/h3-background-img-3.jpg');
    background-size: cover;
    color: $light-primary;

    input {
        width: 200px;
        height: 45px;
        position: relative;
        border: 2px solid black;
    }

    svg {
        fill: $green-primary;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .btn-book {
        width: 150px;
        height: 45px;
        background-color: $red-primary;
        border: none;
        color: $light-primary;
        font-size: 12px;
    }
}